{#
/**
 * @file
 * Template for a 'Title bar' Paragraph.
 */
#}
{% set has_title_text = content.field_title['#title'] is defined %}
{% embed 'paragraph.html.twig' with { classes: ['bg-primary', 'py-4'] } %}
  {% block content %}
    <div class="container">
      {% if has_title_text %}
        <div class="d-flex align-items-center">
          {{ content.field_title }}
          {% if content.field_text|render %}
            <div class="title-bar__content border-left d-none d-lg-block pl-4 flex-grow-1">
              {{ content|without('field_title', 'field_icon') }}
            </div>
          {% endif %}
          <div class="title-bar__icon">
            {{ content.field_icon }}
          </div>
        </div>
      {% else %}
        <div class="d-flex align-items-center">
          <div class="title-bar__icon">
            {{ content.field_icon }}
          </div>
          {% if content.field_text|render %}
            <div class="title-bar__content border-left d-none d-lg-block pl-4 flex-grow-1">
              {{ content|without('field_title', 'field_icon') }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}
